<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="https://www.instagram.com/oticareiss.1/?hl=pt-br" class="navbar-brand">OS Óticas Reis</a>
    </div>
</nav>
<div class="container mt-4">
    <h3 class="titulo">Serviços do dia: </h3>
    <h4>adicione as atividades do dia e marque como concluida</h4>
    <hr>
    <h5 class="description">clique para adicionar clientes e serviços, assim que finalizados, marque-os como "feito"</h5>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" formControlName="description"/>
            </div>
            <div class="col-md-3">
                <button type="submit" [disabled]="!form.get('description')"
                class="btn btn-sm btn-primary">adicionar tarefa
                </button>
            </div>
        </div> 
    </form>
    <hr/>
    <div class="row">
        <div class="col-md-7">
            <ul class="list-group">
                <li *ngFor="let activity of activity" class="list-group-item d-flex justify-content-between align-items">
                    <span class="{{ activity.done ? 'done' : ''}}">
                        {{activity.description}}
                        {{activity.doneDate}}
                    </span>
                    <div class="btn-group">
                        <button class="btn btn-success"
                        [disabled]="activity.done"
                        (click)="done(activity)">
                        Entregue
                    </button>
                        <button class="btn btn-danger" (click)="delete(activity)">Apagar</button> 
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>